  <% if @range == "事務員" %>
    <% if @admins == [] %>
      <h2 class = "text-center mt-5 mx-auto">検索結果はありません</h2>
    <% else %>
  　   <%= render 'public/admins/index' %>
  　<% end %>
　<% elsif @range == "注文" %>
　  <% if @orders == [] %>
      <h2 class = "text-center mt-5 mx-auto">検索結果はありません</h2>
    <% else %>
  　   <%= render 'public/orders/index' %>
  　<% end %>
  <% elsif @range == "商品"%>
    <% if @items == [] %>
      <h2 class = "text-center mt-5 mx-auto">検索結果はありません</h2>
    <% else %>
  　   <div class="container py-5">
        <div class="row">
          <div class="col-md-3">
            <%= render 'layouts/sidebar',genres: @genres %>
          </div>
          <div class="col-md-9">
            <h2>商品一覧（全<%= @items.count %>件）</h2>
            <%= render 'public/items/index', items: @items %>
          </div>
        </div>
      </div>
  　<% end %>
  <% end %>