<div class="container py-5">
  <div class="row">
    <div class="col-md-10 mx-auto">

      <div class="row-md-10 pb-3">
        <h2>注文履歴一覧</h2>
      </div>

      <div class="row-md-10 pb-3">
        <table class="table table-sm">
          <thead style="background-color:#f5fffa">
            <tr>
              <th>
                購入日時
              </th>
              <th>
                担当者
              </th>
              <th>
                納品先
              </th>
              <th>
                納期
              </th>
              <th colspan="2">
                注文ステータス
              </th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
            <tr class=<%= "order_status_#{order.order_status}" %>>
              <td>
                <%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
              </td>
              <td>
                <%= order.user.full_name %>
              </td>
              <td>
                <%= order.delivery %>
              </td>
              <td>
                <%= order.deadline.strftime('%Y/%m/%d') %>
              </td>
              <td>
                <%= order.order_status_i18n %>
              </td>
              <td>
                <%= link_to "表示する", admin_order_path(order), class: "btn btn-sm btn-primary" %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      	<div>
          <p><%= paginate @orders %></p>
        </div>
      </div>
    </div>
  </div>
</div>