<div class='container py-5'>
  <div class='row'>
    <div class="col-md-10 mx-auto">
      <h2>注文情報確認</h2>
      <table class='table table-bordered mt-5'>
        <thead class="thead-light">
          <tr>
            <th colspan="2">商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td class="border-right-0"><%= image_tag cart_item.item.get_image(80,60) %></td>
              <td class="border-left-0"><%= cart_item.item.name %></td>
              <td>￥<%= cart_item.item.price_with_tax.to_s(:delimited) %></td>
              <td><%= cart_item.amount %></td>
              <td>￥<%= cart_item.subtotal.to_s(:delimited) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="d-flex flex-wrap mt-5">
        <div class="col-md-7">
          <table class='table table-borderless'>
            <tr>
              <td class="font-weight-bold">納品先</td>
              <td><%= @order.delivery %>
            </tr>
            <tr>
              <td class="font-weight-bold">納期</td>
              <td><%= @order.deadline.strftime("%Y年 %m月 %d日") %></td>
            </tr>
            <tr>
              <td class="font-weight-bold">備考</td>
              <td><%= @order.note %>
            </tr>
          </table>
        </div>
        <div class="col-md-5">
          <table class='table table-bordered'>
            <tr>
              <td class="bg-light">消費税合計</td>
              <td>￥<%= @total_tax.to_s(:delimited) %></td>
            </tr>
            <tr>
              <td class="bg-light">合計金額（税込み）</td>
              <td>￥<%= @total_payment.to_s(:delimited) %></td>
            </tr>
            <tr>
              <td class="bg-light">支払方法</td>
              <td><%= @order.payment_method_i18n %></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row-md-10 pb-3">
        <div class="d-flex flex-wrap mt-5 justify-content-center">
            <%= form_with model: @order, method: :post, local: true do |f| %>
              <%= f.hidden_field :delivery %>
              <%= f.hidden_field :deadline %>
              <%= f.hidden_field :note %>
              <%= f.hidden_field :total_payment, value: @total_payment %>
              <%= f.hidden_field :payment_method %>
              <%= f.submit "情報を修正する", name: :back, class: "btn btn-primary w-40 mr-3" %>
              <%= f.submit "注文を確定する", class: "btn btn-success w-40" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
