<div class="container py-5">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h2><%= @user.full_name %>さんの社員情報詳細</h2>
      <div class="row-md-10 pb-3">
        <table class="table">
          <tr>
            <th style="width: 30%">
              社員ID
            </th>
            <th>
              <%= @user.login_id %>
            </th>
          </tr>
          <tr>
            <th>
              氏名
            </th>
            <th>
              <%= @user.full_name %>
            </th>
          </tr>
          <tr>
            <th>
              フリガナ
            </th>
            <th>
              <%= @user.full_name_kana %>
            </th>
          </tr>
          <tr>
            <th>
              電話番号
            </th>
            <th>
              <%= @user.telephone_number %>
            </th>
          </tr>
          <tr>
            <th>
              会員ステータス
            </th>
            <th>
              <% if @user.is_deleted == false %>
                有効
              <% else %>
                無効
              <% end %>
            </th>
          </tr>
          <tr>
            <th></th>
            <th class="mt-5">
              <%= link_to rooms_path(@user),class: 'btn btn-info w-50' do %>
                <i class="fas fa-envelope"></i>DMを送る
              <%end%>
            </th>
          </tr>
          <tr></tr>
          <tr>
            <th colspan="2" class="text-center mt-5">
              <%= link_to "編集する", edit_admin_user_path(@user.id), class: "btn btn-success", method: :get %>
              <%= link_to "注文履歴一覧を見る", admin_users_order_history_path(@user.id), class: "btn btn-primary ml-5", method: :get %>
            </th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>