<div class='container py-5'>
  <div class='row'>
    <div class="col-md-3">
      <%= render 'layouts/sidebar', genres: @genres %>
    </div>

    <div class='col-md-9'>
      <%= render 'layouts/errors', obj: @cart_item %>
      <div class="row-md-12">
        <div class='d-flex flex-row'>
          <div class="col-md-5 p-1">
            <%= image_tag @item.get_image(360,270) %>
          </div>
          <div class="col-md-7">
            <h3><%= @item.name %></h3>
            <p><%= @item.introduction %></p>
            <p>￥<%= @item.price_with_tax.to_s(:delimited) %>(税込)</p>
            <div class="d-flex flex-wrap">
              <p class="mt-3">検索用タグ</p>
              <% @item.tags.each do |tag| %>
                <div class="m-3">
                  <i class="fa-solid fa-tag pt-1"></i><%= tag.tag_name %>
                </div>
              <% end %>
            </div>
            <details>
            　<summary>詳細</summary>
            　　<%= @item.detail %>
            </details>
              <% if @item.is_stopped == false %>
                <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
                  <%= f.hidden_field :item_id, :value => @item.id %>
                  <div class="order-form col-md-10">
                    <%= f.select(:amount, *[1..10],{ :include_blank => '個数選択' }, :required => true, class: "form-select form-control") %>
                  </div>
                  <%= f.submit "カートに入れる", class: "btn btn-success mt-3" %>
                <% end %>
              <% else %>
                <p class="font-weight-bold text-danger">売り切れのためご購入いただけません</p>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>